.wrap {
    margin: 1rem;
}

.cont {
    display: flex;
    overflow: auto;
}

.img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    /* padding: 1rem; */
}
iframe {
    width: 100% !important;
    height: 300px !important;
}
.swiper-container {
    width: 100%;
    height: 300px;
}
